<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>FoodServlet</servlet-name>
        <servlet-class>FoodServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FoodServlet</servlet-name>
        <url-pattern>/FoodServlet</url-pattern>
    </servlet-mapping>

</web-app>
